<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.example.TestListener"/>
    </listeners>

    <test name="Regression Tests">
        <packages>
            <package name="org.example"/>
        </packages>
    </test>
</suite>